/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #495057;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    position: fixed;
    max-width: 450px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50.1%, -49.9%);
    padding: 0 20px;
}

.header {
    position: relative;
}

.footer {
    position: relative;
}

.logo {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 39px;
    text-align: center;
}

.claim {
    position: relative;
}

.claim::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 8.5px;
    left: 0;
    height: 3px;
    background-color: #E63946;
    border-radius: 25px;
    z-index: -1;
    bottom: 5px;
}

.claim__text {
    display: inline-block;
    background-color: #495057;
}

.claim.claim--bottom {
    text-align: right;
}

.claim.claim--top .claim__text {
    padding-right: 10px;
}

.claim.claim--bottom .claim__text {
    padding-left: 10px;
}

.navigation {
    margin-top: 20px;
}

.navigation__items {
    list-style-type: none;
    margin: 0 auto;
    /* Clearfix */
    display: table;
}

.navigation__item {
    float: left;
    padding: 0 10px;
}

.navigation__link {
    color: transparent;
    line-height: 0;
    font-size: 0;
    width: 32px;
    height: 32px;
    display: block;
    transition: transform 150ms ease;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center center;
}

.navigation__link:hover {
    transform: scale(1.2);
}

.navigation__link[href*="xing"] {
    background-image: url('../images/xing.png');
}

.navigation__link[href^="mailto:"] {
    background-image: url('../images/letter.png');
}

@media all and (min-width: 500px) {
    .logo {
        font-size: 55px;
    }
}
